section {
    padding: 0 20px;
    overflow-y: auto;

    div {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    div {
        border-radius: 10px;
        padding: 10px;
        margin: 5px 0;
        color: lightseagreen;
        font-weight: bold;
        background: antiquewhite;
        span {
            font-style: italic;
            color: indianred;
            font-size: 12px;
            display: block;
        }

        div {
            padding: 0 10px;
        }
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    section {
        padding: 0 10px
    }
  }